@import "~teasim/index.less";

@color-primary                : #3A3A39;
@color-secondary              : #C2D435;
@layout-header-height         : 3.1875rem;
@layout-footer-height         : 3.625rem;
@layout-bodyer-background     : #ffffff;

/* apps */
@import "override.less";
@import "application.less";
@import "article.less";
@import "syntax.less";

/* components */
@import "../components/NotFound/index.less";

/* pages */
@import "../pages/Home/index.less";